{%extends 'base.html'%}

{%block title_block %}
Task List
{%endblock%}

{%block body_block%}

<table class="table table-stripped">
    <tr>
        <th>ID</th>
        <th>Task Name</th>
        <th>Status</th>
        <th>Created Date</th>
    </tr>
    {%for t in tasks%}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.task_name}}</td>
        <td>{{t.status}}</td>
        <td>{{t.created_date}}</td>
        <td>
            <a href="{%url 'task-detail' t.id%}" class="btn btn-outline-info">View</a>
            <a href="{%url 'task-edit' t.id%}" class="btn btn-outline-warning">Edit</a>

            <a href="{%url 'task-delete' t.id%}" class="btn btn-outline-danger">Delete</a>

        </td>
    </tr>
    {%endfor%}
</table>


{%endblock%}