{%extends 'base.html' %}

{%block title_block%}
Task Detail
{%endblock%}

{%block body_block%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card" style="width: 100%;">
            <div class="card-header">
              Task Detail
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{task.task_name}}</li>
              <li class="list-group-item">{{task.user}}</li>
              <li class="list-group-item">{{task.status}}</li>
              <li class="list-group-item">{{task.created_date}}</li>
              <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <a href="{%url 'task-edit' task.id %}" class="btn btn-outline-warning form-control">edit</a>

                    </div>
                    <div class="col-6">
                        <a href="{%url 'task-delete' task.id%}" class="btn btn-outline-danger form-control">delete</a>
                    </div>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <div class="col-2"></div>
</div>

{%endblock%}
